.container {
  display: flex;
  align-items: stretch;
}

.leftSectionWrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  flex-grow: 1;
}

.leftSection {
  width: 275px;
  height: 100dvh;
}

.leftSectionFixed {
  position: fixed;
  width: inherit;
  height: 100dvh;
  display: flex;
  flex-direction: column;

   nav {
    flex: 1;

    li {
      list-style-type: none;
    }
  }
}

.logo {
  display: inline-block;
  height: 56px;
  margin-top: 2px;
}

.logoPill {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--button-secondary-hover);
  }
}

.postButton {
  margin: 16px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 52px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 28px;
  background-color: var(--button-blue);
  width: 234px;
  border: none;
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 17px;
  border-radius: 26px;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: var(--button-blue-hover);
  }
}


.rightSectionWrapper {
  display: flex;
  align-items: flex-start;
  height: 100dvh;
  flex-direction: column;
  flex-grow: 1;
}

.rightSectionInner {
  height: 100%;
  width: 990px;
  display: flex;
  justify-content: space-between;
}

.main {
  width: 600px;
  height: 200dvh;
}

.rightSection {
  width: 350px;
  height: 100%;
}

.searchFormWrapper {
  margin-bottom: 60px;
  width: inherit;
}

.search {
  position: fixed;
  height: 44px;
  width: inherit;
  border-radius: 21px;
  border: 1px solid #cfd9de;
  margin-top: 6px;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  background-color: var(--background);
}

.search {
  svg {
    margin-left: 20px;
  }

  input {
    outline: none;
    background-color: inherit;
    border: none;
    padding: 12px;
    margin-left: 5px;
    font-size: 15px;
  }
}
